body{
    color: #2C332B;
}
.logout{
	width: 100px;
    background-color: #DCBF7D;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid #2C332B;
    border-radius: 30%;
    top: 20px;
    position: absolute;
    right: 50px;
    text-align: center;

}
.logout a{
	text-decoration: none;
    color: #2C332B;
    text-align: center;
}
.home{
    width: 100px;
    background-color: #DCBF7D;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid #2C332B;
    border-radius: 30%;
    top: 50px;
    position: absolute;
    right: 50px;
    text-align: center;

}
.home a{
    text-decoration: none;
    color: #2C332B;
    text-align: center;
}
.topnav{
	background-color: #DCBF7D;
    position: absolute;
    top: 120px;
    left: 0px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}
.topnav a{
	color: #2C332B;
	padding-top: 10px;
    text-decoration: none;
}
.full p{
	text-align: center;
	color: white;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.full{
        display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: left;
}
